{{- define "main" -}}

{{- .Content -}}

{{- $pages := (where site.RegularPages "Type" "posts").Limit 5 -}}

{{- with $pages -}}

{{- range . -}}
  <a class="page-link" href="{{ .RelPermalink }}">
    <div class="link-content">
      <p class="title">{{ .LinkTitle }}</p>
      {{- with .Summary -}}
        <p>{{ . | plainify | truncate 150 }}</p>
      {{- end -}}
      <p>
        {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
        {{- $dateHuman := .Date | time.Format ":date_long" -}}
        <time datetime="{{ $dateMachine }}" class="date">{{ $dateHuman }}</time>
      </p>
    </div>
  </a>
{{- end -}}

<div style="display: flex; justify-content: end;">
  <a href="{{ absURL "posts/" }}" class="button">{{ i18n "all-posts" }}</a>
</div>

{{- end -}}

{{- end -}}
